<h1>Post Flyer</h1>

        <div class = "row">
          <div class = "col-md-6">
            <h4 class="modal-title" id="myModalLabel"> Fill in the following form to get other people interested your idea!</h4>
          </div>
        </div>
       <br><br>      

<%= render 'form' %>