<h1>Group Hub</h1>

<% @posts.each do |post| %>
<div class = "fluid-container posting">
	<div class = "posting-inner">
		<div class = "row">
		  <div class = "col-md-3">
		    <h1><%= post.title %></h1>
		  </div>
		</div>
		<div class = "row">
		  <div class = "col-md-10">
		    <p><%= post.description %></p>
		  </div>
		</div>
		<div class = "row">
		  <div class = "col-md-offset-10 col-md-2">
		    <%= button_to 'Show', post, :class => "btn btn-default", :type => "button", :method => :get  %>
		  </div>
		</div>
	</div>
</div>
<br><br>
<% end %>
<br><br><br>
<%= button_to 'New Post', new_post_path, :class => "btn btn-primary", :type => "button", :method => :get  %>
