// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posting {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.posting-inner {
	margin-left: 25px;
}

.centered-text {
    text-align:center
} 

.tcy {
	
/*border: 1px solid green ;*/

border: 1px solid #000000;
background-color: #ffffff;
overflow: auto;
margin-bottom: 1.7em;
margin-right: 4em;
padding: 1em!important;

}


.row {
margin-right: -15px;
margin-left: -15px;
}

.col-md-1 {
width: 33%;
}


.col-md-4 {
width: 66%;
}


table.table {
clear: both;
margin-bottom: 6px !important;
max-width: none !important;
}



.spacer {
    margin-top: 10px; /* define margin as you see fit */
}

.spacer2 {
    margin-top: 40px; /* define margin as you see fit */
}


.even_gradeA
{
	background-color:white;
}